html {
	overflow: scroll;
	font-family: sans-serif;
}

body {
	width: 100%;
	height: 100%;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    line-height: 1.75;
}

.projectlist {
	position: absolute;
	font-weight: 100;
	font-size: 12;
	width: auto;
	top: 900px;
	left: 25%;
	text-align: left;
}

.projectlist:hover {
	cursor: pointer;
}

.projectimage {
	left: 46%;
	width:575px;
	height: auto;
	padding-top: 25px;
	padding-bottom: 50px;
}

.aboutimage{
	left: 46%;
	width: 300px;
	height: auto;
	margin-bottom: 15px;
	padding-bottom: 500px;
}

p {
	font-size: 12;
}

.textcontainer {
	width: 250px;
	line-height: 1.35;
}

a {
	text-decoration: none;
}

a:visited {
	color: black;
}

.links {
	width: 200px;
	position: fixed;
	font-weight: 100;
	font-size: 12;
	top: 76px;
	left: 7%;
	line-height: 1.75;
	text-align: left;
}

.links a:hover {
	font-weight: 500;
}

.up {
	width: 13px;
	height: auto;
}

.up:hover {
	width: 13px;
	height: auto;
	cursor: pointer;
}

.selected {
    font-weight: 500;
    font-size: 12;
}

.me {
	color: blue !important;
	text-decoration: underline;
}

.me:hover {
	font-weight: 500;

}

.car{
  position: absolute;
  top:38%;
  left: 50%;
  width: 300px;
  height: auto;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  z-index: -10;
}

.Ltire {
   position: absolute;
  top:42%;
  left: 40%;
  width: 54px;
  height: auto;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  z-index: -9;
  display: none;

}

.Rtire {
   position: absolute;
  top:42%;
  left: 59%;
  width: 54px;
  height: auto;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  z-index: -9;
  display: none;

}

