

::-webkit-scrollbar {
    display: none;
}

::-moz-scrollbar {
    display: none;
}

::-scrollbar {
    display: none;
}


html {
  letter-spacing:  1.3 !important;
	margin: 0;
	font-family: sans-serif !important;
  font-weight: 200;
  font-size: 14 !important;
}

.arch {
  padding-bottom: 10vh;
}

.title, h1, h2 {
  font-family: sans-serif !important;
  font-size: 14 !important;
  /* font-weight: 400; */
}

body {
	margin: 0;
	width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.mover {
  cursor: pointer;
  margin-right: 1vw;
  position: relative;
  display: inline;
  float: left;
}

.mover:hover {
  text-decoration: underline;
}

.t {
  margin-top: 0;
  position: relative;
  left: 5px;
}

.moverS {
  /* border-bottom: 1px solid black; */
  padding-top: 10px;
  /* border-bottom: 1px solid black; */
  z-index: 999 !important;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255,255,255,.95);
  width: 100vw;
}

.row {
  /* background-color: red; */
  border-bottom: 1px solid rgba(0,0,10,.09);
  top: 110px;
  left: 80px;
  position: relative;
  width: 85vw;
  height: auto;
  padding-bottom: 8vh;
  margin-bottom: 8vh !important;
  margin-right: 5vw;
  float: left;
}

.row:first {
  margin-top: 0 !important;
}

.row:last-child {
  padding-bottom: 10vh;
}

.row:last-child > .title {
  display:none;
}

img {
  cursor: pointer;
  position: relative;
  float: left;
  margin-right: 1vw;
  height: 10vh;
  width: auto;
  margin-bottom: 1vh;
  -webkit-transition: height .2s ease-in-out;
  -moz-transition: height .2s ease-in-out;
  -o-transition: height .2s ease-in-out;
  transition: height .2s ease-in-out;
}

img:hover {


}

.type {
  display: none;
}

.materials {
  /* display: none; */
  width: 35vw;
  margin-bottom: 3vh;
}

.year {
  width: 20px;
  position: absolute;
  left: -70px;
  top: 0;
  /* top: 50%;
  margin-bottom: 1vh;
  transform:translate(0%,-50%);
  -webkit-transform:translate(0%,-50%); */
}

.images {
  margin-top: 4vh;
  width: 85%;
  height: auto;
  position: relative;
}

.moverS > .title {
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  left: 5px;
  margin-bottom: 2vh;
  margin-right: 3vw;
  position: relative;
  display: inline;
  float: left;
  cursor: pointer;
  background-color: #eaf2ff;
}

.moverS > .title:hover {
  text-decoration: underline;
}

/* captions */

.images > section > p{
  display: none !important;
  /* position: relative;
  height: auto;
  float: left;
  font-size: 8;
  width: 50px;
  background-color: red;
  margin-right: 10px; */
}

/* actual images */

.images > section > .block-img {
  position: relative;
  display: inline !important;
  float: left;
}

/* .images > section:first-child > .block-img > img {
  width: 40vw !important;
  height: auto;
  margin-right: 100vw;
} */

@media screen and (max-width: 736px){

  .row {
    top: 28vh !important;
  }


}
