html {
	overflow: scroll;
	font-family: sans-serif;
}

body {
	width: 100%;
	height: 100%;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.top {
	top: 76px;
}

.hide {
	display: none;
}

.projectlist {
	position: absolute;
	font-weight: 100;
	font-size: 12;
	width: auto;
	top: 900px;
	left: 25%;
	text-align: left;
}

.projectlist:hover {
	cursor: pointer;
}

.projectimage {
	left: 46%;
	width:600px;
	height: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

.aboutimage {
	left: 46%;
	width: 300px;
	height: auto;
	margin-top: 15px;
	margin-bottom: 200px;
}

.resume {
	left: 46%;
	width: 500px;
	height: auto;
	margin-top: 15px;
	margin-bottom: 25px;
	-webkit-box-shadow: 17px 15px 28px 1px rgba(0,0,0,0.53);
	-moz-box-shadow: 17px 15px 28px 1px rgba(0,0,0,0.53);
	box-shadow: 17px 15px 28px 1px rgba(0,0,0,0.53);
}

p {
	font-size: 12;
}

.textcontainer {
	width: 275px;
	line-height: 1.35;
}

a {
	text-decoration: none;
}

a:visited {
	color: black;
}

.links {
	width: 800px;
	position: fixed;
	font-weight: 100;
	font-size: 12;
	top: 125px;
	left: 7%;
	line-height: 1.75;
	text-align: left;
}

.links a:hover {
	font-weight: 500;
}

.projecttitle {
	position: absolute;
	font-weight: 100;
	text-decoration: underline;
	font-size: 12;
	top: 94px;
	left: 7%;
}

.name {
	position: absolute;
	font-weight: 300;
	font-size: 12;
	top: 60px;
	left: 7%;
}

.up {
	width: 13px;
	height: auto;
}

.up:hover {
	width: 13px;
	height: auto;
	cursor: pointer;
}

.selected {
    font-weight: 500;
    font-size: 12;
}

.me {
	color: blue !important;
}

.me:hover {
	text-decoration: underline;
}

.resumelink {
	color: blue !important;
}

.resumelink:hover {
	text-decoration: underline;
}

.line {
	position: relative;
	left: 0px;
	width: 287px;
	height: 5px;
	margin-top: 25px;
	margin-bottom: 25px;
}

