

::-webkit-scrollbar {
    display: none;
}

::-moz-scrollbar {
    display: none;
}

::-scrollbar {
    display: none;
}


html {
  letter-spacing:  1.3 !important;
	margin: 0;
	font-family: sans-serif;
}

body {
	margin: 0;
	width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.testtt {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
-webkit-transform:translate(-50%,-50%);
}

a,a:visited{
  cursor: pointer;
  color: #007fff;
  pointer-events: auto !important;
}

a:hover {
  color: black;
  text-decoration: underline;
}

.load {
  position:fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 999;
}


.upper {
  /*border-top: 1px solid black;*/
  color: black;
  background-color: white;
  margin-top: 0;
  position: fixed !important;
  width: 100vw;
  height: 50px;
  min-height: 50px;
  float: bottom;
  left: 0;
  bottom: 0 !important;
  overflow: hidden;
  cursor: pointer;
  /*border-bottom: 1px solid black;*/
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
  -o-transition: height .5s;
}

.name {
  margin-top: 0;
  font-size: 18;
  position: absolute;
  left: 1vw;
  top: 10px;
}

.pro {
  z-index: 999;
  margin-top: 0;
  font-size: 18;
  position: absolute;
  left: 1vw;
  bottom: 10px;
  cursor: pointer;
}

.arch {
  margin-left: 5vw;
  margin-top: 0 !important;
  background-color: none;
  position: relative;
  width: 100vw;
  height: auto;
  left: 0;
  top: 35px !important;
  margin-bottom: 10vh !important;
}

.materials,.type, h1  {
  font-size: 20 !important;
  font-weight: 100;
}

.year {
  font-size: 22;
  font-weight: 100;
  margin-bottom: 30px;
}

.type {
  margin: 0;
  margin-top: 10px !important;
  margin-bottom: 10px;
}

.materials {
  color: black;
}

section {
  margin: 0;
}

[data-field="type"] > h1{
  position: relative;
  color: black;
  background-color: #7ab73a;
  width: auto;
  float: left;
  padding: 5px;
  margin-right: 3px;
  font-size: 10 !important;
  cursor: pointer;
}

.bop {
  color: white;
  background-color: black;
}

.type,.materials {
  position: relative;
  margin-left: 0 !important;
}

.title {
  font-size: 22 !important;
  font-weight: 100;
  margin-top: 20px;
  margin-bottom: 100px;
  position: relative;
  display: inline;
  top: 0;
  left: 0;
  margin-left: 0;
  margin-top: 0;
}

.title,.year {
  font-weight: 300;
}

.row,.last {
  /*border-top: 1px solid black;*/
  padding: 1%;
  font-weight: 500;
  display: inline;
  margin-top: 0;
  top: 0;
  /*left: 200px;*/
  position: relative;
  height: auto;
  width: 24vw;
  float: left;
  cursor: pointer !important;
  margin-bottom: 30px !important;
  margin: 0;
  -webkit-transition: background-color .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
}

.row:hover {
  background-color: #f9f9f9;
  cursor: pointer !important;
}

.last {
  position: absolute;
  left: 4vw;
  top: 7vh;
}

.last:hover {
  pointer-events: none !important;
  background-color: none !important;
}

.white {
  pointer-events: none;
  background-color: white !important;
}


/*.row:hover {
  color: #4c4c4c;
}*/

.back {
  position: fixed;
  left: 1vw;
  margin-top: 0;
  top: 1.25vh;
  font-size: 22;
  cursor: pointer;
}

.about {
  color: black;
  position: absolute;
  left: 50%;
  margin-top: 0;
  top: 1.25vh;
  font-size: 22;
  cursor: pointer;
  transform:translate(-50%,0%);
  -webkit-transform:translate(-50%,0%);
}

.back:hover,.about:hover {
  text-decoration: underline;
}

.images > section > .block-img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.images > section > p {
  font-size: 18 !important;
  font-weight: 100;
}

img {
  position: relative;
  margin-top: 5vh;
  display: none;
  width: 100%;
}

@media screen and (max-width: 736px){


  .row {
    left: 7% !important;
    margin-left: 0 !important;
  }

}
