
::-webkit-scrollbar {
    display: none;
}

::-moz-scrollbar {
    display: none;
}

::-scrollbar {
    display: none;
}

em {
  font-size: 10 !important;
}

a,a:visited {
  background-color: #f9f2ff;
  color: black !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


html {
  letter-spacing:  1.3 !important;
  margin: 0;
  font-family: sans-serif !important;
  font-weight: 100;
  font-size: 14 !important;
}

.arch {
  padding-bottom: 10vh;
}

.title, h1, h2 {
  font-family: sans-serif !important;
  font-size: 14 !important;
  /* font-weight: 400; */
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.mover:hover {
  text-decoration: underline;
}

.t {
  margin-top: 0;
  position: relative;
  left: 5px;
}

.moverS {
  /* border-right: 1px solid rgba(0,0,10,.09); */
  /* padding-right: 2vw; */
  padding-top: 20px;
  /* background-color: rgba(10, 10, 100, 0.03); */
  border-bottom: none;
  /* border-top: 1px solid rgba(0,0,10,.09); */
  /* border-bottom: 1px solid black; */
  z-index: 996 !important;
  position: absolute;
  top: 50vh;
  left: 0;
  width: 45vw;
  height: 50vh;
  -webkit-transition: background-color .1s ease-in-out;
  -moz-transition: background-color .1s ease-in-out;
  -o-transition: background-color .1s ease-in-out;
  transition: background-color .1s ease-in-out;
}

.tim {
  z-index: 999;
  position: absolute;
  left: 10px;
  top: 10px;
  margin-top: 0;
}

.proj {
  z-index: 999;
  position: absolute;
  left: 10px;
  margin-top: 0;
  top: 45vh;
}

.sticky {
  z-index: 999 !important;
  padding-top: 15px;
  border-top: none;
  width: 100vw;
  height: auto;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.94);
  border-bottom: 1px solid rgba(0,0,10,.09);
  -webkit-transition: background-color .1s ease-in-out;
  -moz-transition: background-color .1s ease-in-out;
  -o-transition: background-color .1s ease-in-out;
  transition: background-color .1s ease-in-out;
}

/* .sticky:hover {
  opacity: 1;
} */

.row {
  /* background-color: red; */
  border-bottom: 1px solid rgba(0,0,10,.09);
  top: 120vh;
  left: 80px;
  position: relative;
  width: 85vw;
  height: auto;
  padding-bottom: 5vh;
  margin-bottom: 6vh !important;
  margin-right: 5vw;
  float: left;
}

.row:first {
  margin-top: 0 !important;
}

.row:last-child {
  padding-bottom: 10vh;
}

.row:last-child > .title {
  display:none;
}

img {
  cursor: pointer;
  position: relative;
  float: left;
  margin-right: 3vw;
  height: 23vh;
  width: auto;
  margin-bottom: 1vh;
  -webkit-transition: height .2s ease-in-out;
  -moz-transition: height .2s ease-in-out;
  -o-transition: height .2s ease-in-out;
  transition: height .2s ease-in-out;
}

img:hover {

}

.title {
  margin-bottom: 40px;
}

.type {
  margin-top: 3vh;
  position: relative;
  display: inline-block;
  float: left;
}

.materials {
  width: 35vw;
  margin-bottom: 3vh;
}

.type > section {
  display: inline;
}

.type > section > h1 {
  top: 0;
  position: relative;
  font-weight: 100;
  display: inline;
  float: left;
  margin-right: 1vw;
  background-color: transparent;
  color: black;
  border: 1px solid gray;
  font-size: 8px !important;
  padding: 3px;
  border-radius: 3px;
}

.typeS {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 40vw;
  background-color: white;
}

.typeS > .type > h1 {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0 !important;
  display: inline;
}

.year {
  width: 20px;
  position: absolute;
  left: -67.5px;
  top: 0;
}

.images {
  display: inline-block;
  margin-right: 30vw;
  margin-top: 4vh;
  width: 85%;
  height: auto;
  position: relative;
}

.moverS > .title {
  text-align: justify;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 1px;
  padding-bottom: 1px;
  left: 10px;
  margin-bottom: 2vh;
  margin-right: 2.5vw;
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: #f7faff;
  /* font-size: 22 !important; */

}

.moverS > .title:hover {
  text-decoration: underline;
}

/* captions */

.images > section > p{
  display: none !important;
  /* position: relative;
  height: auto;
  float: left;
  font-size: 8;
  width: 50px;
  background-color: red;
  margin-right: 10px; */
}

/* actual images */

.images > section > .block-img {
  position: relative;
  display: inline !important;
  float: left;
}

/* .images > section:first-child > .block-img > img {
  width: 40vw !important;
  height: auto;
  margin-right: 100vw;
} */

.latest {
  display: none;
  z-index: 997;
  position: absolute !important;
  top: 0%;
  right: 0;
  /* transform:translate(-50%,0%);
  -webkit-transform:translate(-50%,0%); */
  padding: 0;
  margin: 0 !important;
  width: auto;
  height: 100vh;
}

@media screen and (max-width: 736px){

  a,a:visited {
    background-color: #f9f2ff;
    color: black !important;
    text-decoration: underline;
  }

  .row {
    top: 120vh !important;
    width: 70vw;
  }

  img {
    width: 100% !important;
    height: auto;
  }

  .materials {
    width: 90%;
  }

  .moverS {
    top: 0 !important;
  }

  .latest,.tim,.proj {
    display:none;
  }

  .moverS {
    padding: 0;
    z-index: 999 !important;
    padding-top: 15px;
    border-top: none;
    width: 100vw !important;
    height: auto;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.94);
    border-bottom: 1px solid rgba(0,0,10,.09);
  }


}