::-moz-selection { background-color: none; color: #006bff ; }
::selection { background-color: none; color: #006bff ; }

::-webkit-scrollbar { 
    display: none; 
}

::-moz-scrollbar { 
    display: none; 
}

::-scrollbar { 
    display: none; 
}

@font-face {
    font-family: ar round;
    src: url(arial-rounded-mt.ttf);
}

html {
  font-family: ar round;
  font-size: 12;
  color: black;
  background-color: white;
  margin-bottom: 2%;
}

.section {
  background-color: none;
  margin: 0;
}

.imgbox {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}

img {
  cursor: pointer;
  position: absolute;
  width: 63%;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

img.chair{
  width: 55%;
}

.info {
  position: absolute;
  width: 75%;
  left: 50%;
  top: 48%;
  font-size: 25;
  z-index: -999;
  text-align: justify;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}

.aboutme {
  margin: 0;
  margin-left: 0;
  font-size: 25;
  position: absolute;
  background-color: black;
  z-index: 999;
  color: white;
  width: 100%;
  height: 100%;
  left: 300%;
  top: 50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.aboutme p {
  position: absolute;
  width: 55%; 
  top: 48%;
  left: 50%;
   transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}

.copyright {
  font-size: 12;
  line-height: 1.4;
}

.center {
  left: 50%;
}

.hey {
  position: absolute;
  top: 3%;
  right: 2%;
  margin-top: 0;
  cursor: pointer;
  z-index: 999;
  color: white;
  font-size: 15;
  border: 1px solid white;
  border-radius: 50%;
  padding: 1%;
  font-family: Helvetica;
  font-weight: 100;
  -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.hey:hover {
  background-color: white;
  color: black !important;
  top: 3.5%;
}


.head {
  position: absolute;
  width: 90.5%;
  height: auto;
  left: 50%;
  top: 2%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}

.title{
  position: absolute;
  left: 0%;
}

.year {
  position: absolute;
  right: 0%;
}

.name {
  position: absolute;
  left: 2%;
  top: 3%;
  margin: none;
  margin-top: 0;
}

.about {
  position: absolute;
  top: 3%;
  right: 2%;
  margin-top: 0;
  cursor: pointer;
  z-index: 999;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.about:hover {
  color: #ececec;
}

.name,.project {
  z-index: -99;
}

.up {
  font-size: 25;
  background-color: none;
  color: black;
  padding: 1%;
  position: fixed;
  top: 45%;
  left: 96%;
  margin-top: 0;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.up:active{
  top: 45.5%;
}

.down {
  font-size: 25;
  background-color: none;
  color: black;
  padding: 1%;
  position: fixed;
  top: 55%;
  left: 96%;
  margin-top: 0;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.down:active{
  top: 55.5%;
}

.hide {
  cursor: pointer;
  margin-top: 0;
  color: black;
  position: fixed;
  padding: 1%;
  top: 47%;
  left: 2%;
   transform:translate(-50%,-50%);
      -webkit-transform:translate(-50%,-50%);
  -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

.down:hover,.showinfo:hover,.up:hover {
  cursor: pointer;
  color: #006bff; 
}

.title {
  position: absolute;
  top: 3%;
  left: 12.5%;
  margin-top: 0;
  

}

.date {
  position: absolute;
  top: 3%;
  right: 12.5%;
  margin-top: 0;
}

.box {
  z-index: -9999;
  position: absolute;
  width: 95%;
  height: 95%;
  left: 50%;
  top: 50%;
  background-color: none;
  border: 1px solid #ececec;
  border-radius: 50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}

.bottombox {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 3%;
  background-color: black;
}

#menu {
  text-decoration: none;
  list-style: none;
  position: absolute;
  left: 50%;
  top: 2.5%;
  margin-top: 0;
  line-height: 2;
  transform:translate(-50%,0%);
  -webkit-transform:translate(-50%,0%);
}

li a,li a:active,li a:visited {
  text-decoration: none;
  color: black;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

li a:hover {
  color: #ececec;
}

.me, .me:active, .me:visited {
  text-decoration: none;
  color: #006bff;
}

.me:hover {
  color: white;
}

.visible {
  z-index: -999;
}

#custom {
  height: 70%;
  width: auto;
}


/* mobile */

@media screen and (max-width: 736px) {


.hide {
  left: ;
}

#menu {
  left: 50%;
  transform:translate(-50%,0%);
  -webkit-transform:translate(-50%,0%);
}

.down,.up {
  left: 94%;
}

.info {
  font-size: 14;
}

.aboutme p {
  font-size: 13;
}

.me, .me:active, .me:visited {
  text-decoration: none;
  color: #006bff;
}

.down:active{
  top: 55%;
}

.up:active{
  top: 45%;
}

.copyright{
  font-size: 10;
}

.hey {
  padding: 1.3%;
}





}