::-moz-selection { background-color: none; color: #006bff ; }
::selection { background-color: none; color: #006bff ; }

::-webkit-scrollbar { 
    display: none; 
}

::-moz-scrollbar { 
    display: none; 
}

::-scrollbar { 
    display: none; 
}

@font-face {
    font-family: ar round;
    src: url(arial-rounded-mt.ttf);
}

html {
  font-family: ar round;
  font-size: 12;
  color: black;
  background-color: white;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.section {
  border-bottom: 1px solid black;
  background-color: none;
  margin: 0;
  height: 104%;
  width: 100%;
}

.imgbox {
  z-index: 999;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}

img.poster, img.table,img.displayobjects,img.heater,img.t21i,img.chair,img.connection,img.renderings {
  margin: none;
  position: absolute;
  cursor: pointer;
  height: auto;
  width: 56%;
  left: 58%;
  top: 14%;
  z-index: 9999;
  transform:translate(-50%,0%);
  -webkit-transform:translate(-50%,0%);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

img.table:hover, img.chair:hover,img.displayobjects:hover,img.heater:hover,img.t21i:hover,img.renderings:hover{
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,.9);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,.9);
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,.9);
}

img.chair{
  width: 50%;
}

.info {
  position: absolute;
  width: 17%;
  left: 9.5%;
  top: 12.5%;
  font-size: 12;
  z-index: -999;
  text-align: left;
  transform:translate(-50%,0%);
  -webkit-transform:translate(-50%,0%);
}

.aboutme {
  border-radius: 5px;
  margin: 0;
  margin-left: 0;
  font-size: 15;
  position: absolute;
  background-color: black;
  z-index: 999;
  color: white;
  width: 40%;
  height: 60%;
  left: 300%;
  top: 50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
}

.aboutme p {
  position: absolute;
  width: 80%; 
  top: 48%;
  left: 50%;
   transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}

.copyright {
  font-size: 12;
  line-height: 1.4;
}

.center {
  left: 50%;
}

.hey {
  position: absolute;
  top: 3%;
  right: 2%;
  margin-top: 0;
  cursor: pointer;
  z-index: 999;
  color: white;
  font-size: 15;
  border: 1px solid white;
  border-radius: 50%;
  padding: 1%;
  font-family: Helvetica;
  font-weight: 100;
  -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.hey:hover {
  background-color: white;
  color: black !important;
  top: 3.5%;
}


.head {
  position: absolute;
  width: 90.5%;
  height: auto;
  left: 50%;
  top: 2%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}

.name {
  position: absolute;
  left: 2%;
  top: 3%;
  margin: none;
  margin-top: 0;
}

.about {
  position: absolute;
  top: 3%;
  right: 3.5%;
  margin-top: 0;
  cursor: pointer;
  z-index: 999;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.about:hover {
  color: #ececec;
}

.name,.project {
  z-index: -99;
}

.up {
  height: 20%;
  background-color: none;
  color: black;
  padding: 1%;
  position: fixed;
  top: 5%;
  left: 95%;
  margin-top: 0;
  transform:translate(-50%,0%);
  -webkit-transform:translate(-50%,0%);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.up:active{
  top: 5.5%;
}

.down {
  height: 20%;
  background-color: none;
  color: black;
  padding: 1%;
  position: fixed;
  bottom: 5%;
  left: 95%;
  margin-top: 0;
  transform:translate(-50%,0%);
  -webkit-transform:translate(-50%,0%);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.down:active{
  bottom: 4.5%;
}

.hide {
  display: none;
  cursor: pointer;
  margin-top: 0;
  color: black;
  position: fixed;
  padding: 1%;
  top: 47%;
  left: 2%;
   transform:translate(-50%,-50%);
      -webkit-transform:translate(-50%,-50%);
  -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
}

.down:hover,.showinfo:hover,.up:hover {
  cursor: pointer;
  color: #006bff; 
}

.title {
  position: absolute;
  top: 2%;
  left: 1%;
  margin-top: 0;

}

.date {
  position: absolute;
  top: 5%;
  left: 1%;
  margin-top: 0;
}

.box {
  z-index: -9999;
  position: absolute;
  width: 95%;
  height: 95%;
  left: 50%;
  top: 50%;
  background-color: none;
  border: 1px solid #ececec;
  border-radius: 50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}

#menu {
  width: 50%;
  font-size: 17;
  background-color: none;
  text-align: left;
  z-index: 0;
  text-decoration: none;
  list-style: none;
  position: fixed;
  left: .75%;
  bottom: 0%;
  margin: 0;
  margin-left: 0;
  margin-top: 0;
  line-height: 5;
  transform:translate(0%,0%);
  -webkit-transform:translate(0%,0%);
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}


li a,li a:active,li a:visited {
  padding-right: 4%;
  display: inline;
  float: left;
  list-style-type: none;
  text-decoration: none;
  color: black;
  -webkit-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

li a:hover {
  color: #ececec;

}

.me, .me:active, .me:visited {
  text-decoration: none;
  color: #006bff;
}

.me:hover {
  color: white;
}

.visible {
  z-index: -999;
}

#custom {
  height: 70%;
  width: auto;
}

.sorry {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  z-index: 999;
}

.message  {
  position: absolute;
  font-size: 30;
  color: white;
  left: 50%;
  top: 40%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}


/* mobile */



@media screen and (max-width: 736px) {

#fullpage {
  width: 100%;
}

.section {
  height: 100% !important;
  width: 100% !important;
}

.hide {
  left: .5%;
  top: 50%;
  display: inline;
}

.about {
  display: none;
}

#menu {
  display: none;
}

.down,.up {
  left: 94%;
}

.info {
  text-align: justify;
  top: 50%;
  left: 50%;
  width: 78%;
  display: inline;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}

.aboutme {
  background-color: transparent;
  color: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}

.aboutme p {
  text-align: justify;
  font-size: 13;
}

.me, .me:active, .me:visited {
  text-decoration: none;
  color: #006bff;
}

.copyright{
  font-size: 10;
}

.hey {
  display: none;
  padding: 1.3%;
}

.title,.name {
  left: 10%;
}

.date {
  top: 2%;
  left: 80%;
}

img.poster, img.table,img.displayobjects,img.heater,img.t21i,img.chair,img.connection,img.renderings {
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}





}