html {
	overflow: scroll;
	font-family: sans-serif;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  	width: 100%;
	height: 100%;
	overflow: scroll;
	font-family: Arial;
	background-color: white;
}

::-webkit-scrollbar { 
    display: none; 
}

.preview {
	position: absolute;
	background-color: black;
	width: 40%;
	height: 20%;
	left: 50%;
	top: 10%;
	margin-top: 10px;
	-webkit-transition: left 1s ease-in-out;
  	-moz-transition: left 1s ease-in-out;
  	-o-transition: left 1s ease-in-out;
  	transition: left 1s ease-in-out;
  	border-radius: 50%;
}

body {
	width: 100%;
	height: 100%;	
	margin: 0;
	overflow: scroll;
}

.name {
	top: 0;
	margin: 0;
	font-size: 12;
	position: absolute !important;
	background-color: transparent;
	color: black;
	width: 50%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 6%;
	z-index: 99;

}

ul {
	top: 10%;
	font-weight: 300;
	position: relative;
	list-style: none;
	padding-left: 0;
	padding-bottom: 20%;
	font-size: 15;
	width: 100%;
	left: 0;
	-webkit-transition: left .5s ease-in-out;
  	-moz-transition: left .5s ease-in-out;
  	-o-transition: left .5s ease-in-out;
  	transition: left .5s ease-in-out;

}

li {
	margin-left: 2%;
	margin-right: 2%;
	color: black;
	position: relative;
	margin-bottom: .5%;
	padding-left: 6%;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 2%;
  	-webkit-transition: height .5s ease-in-out;
  	-moz-transition: height .5s ease-in-out;
  	-o-transition: height .5s ease-in-out;
  	transition: height .5s ease-in-out;
  	z-index: 0;
}



li:hover {
	cursor: pointer;
	
}

li:first {
	border-bottom: 1px solid !important;
}

.title:hover {
	color: #006bff;
} 



.close {
	display: none;
	position: absolute;
	font-size: 12;
	margin: 0;
	top: 19px;
	left: 2%;
	transform:translate(-50%,-50%);
  	-webkit-transform:translate(-50%,-50%);
  	z-index: 999;
  	height: auto;
  	padding: .5%;
  	border: .15em solid black;
  	border-radius: 50%;
  	color: gray;
  	-webkit-transition: color .35s ease-in-out;
  	-moz-transition: color .35s ease-in-out;
  	-o-transition: color .35s ease-in-out;
  	transition: color .35s ease-in-out;
  	z-index: 999;

}

.close:hover {
	color: white;
}

.year {
	position: absolute;
	text-align: right !important;
	left: 30%;
	-webkit-transition: left .4s;
  	-moz-transition: left .4s;
  	-o-transition: left .4s;
  	transition: left .4s;

}

.projectzone {
	display: none;
	position: absolute;
	top: 50px;
	left: 6.25%;
	width: 85%;
	height: auto;
	overflow: scroll;
}

img {
	width: 58%;
	height: auto;
	display: block;
	padding-bottom: 10%;
}

img.TAB {
	width: 25% !important;
	padding-bottom: 10%;
}

#custom {
	width: 23% !important;
	padding-bottom: 10%;
}

img.face {
	width: 25%;
}

img.table,img.displayobjects,img.heater,img.t21i,img.chair,img.TAB,img.connection,img.fan {
	cursor: e-resize;
}

.info {
	display: none;
	font-size: 14;
	font-weight: 100 !important;
	position: absolute;
	width: 27%;
	left: 60%;
	top: 34px;
	text-align: left;
	padding-bottom: 10%;
	-webkit-transition: left .5s ease-in-out;
  	-moz-transition: left .5s ease-in-out;
  	-o-transition: left .5s ease-in-out;
  	transition: left .5s ease-in-out;
  	z-index: -10;
}

.chair {
	width: 50%;
}

.face {
	width: 50%;
	height: auto;
}

.left {
	left: 7%;
	-webkit-transition: left .5s ease-in-out;
  	-moz-transition: left .5s ease-in-out;
  	-o-transition: left .5s ease-in-out;
  	transition: left .5s ease-in-out;

}

.right {
	left: 0%;
	-webkit-transition: left .5s ease-in-out;
  	-moz-transition: left .5s ease-in-out;
  	-o-transition: left .5s ease-in-out;
  	transition: left .5s ease-in-out;

}

.mail {
	color: black;
	font-weight: 100;
	font-size: 18;
	position: fixed;
	margin: 0;
	top: 25%;
	left: -100px;
	display: inline;
	cursor: pointer;
	-webkit-transition: left .5s ease-in-out;
  	-moz-transition: left .5s ease-in-out;
  	-o-transition: left .5s ease-in-out;
  	transition: left .5s ease-in-out;

}

a:visited,a:active {
	color: #0078ff;
}

.me {
	color: #0078ff;
}

/* mobile */

@media screen and (max-width: 1024px){

	html {
		background-color: #fbfbfb;
	}

	ul {
		border-color: white;
		position: absolute;
		font-size: 16;
		left: 50%;
		transform:translate(-50%,0%);
  		-webkit-transform:translate(-50%,0%);

	}

	li {
		background-color: white;
		color: black;
		margin-bottom: 5%;
	}

	li:hover {
		background-color: white;
		color: black;
	}

	img {
		width: 100%;
		padding-bottom: 10%;
	}

	.projectviewer {
		width: 102%;
	}

	.projectzone {
		top: 30px;
		position: relative;
		left: 48%;
		transform:translate(-50%,0%);
  		-webkit-transform:translate(-50%,0%);
	}

	.info {
		text-align: justify;
		position: relative;
		display: block;
		float: bottom;
		width: 86%;
		padding-bottom: 20%;
		left: 48%;
		font-size: 14;
		transform:translate(-50%,0%);
  		-webkit-transform:translate(-50%,0%);
	}

	.year {
		left: 81%;
	}

	#custom,.chair {
		width: 80%;
	}

	li {
		padding-top: 6%;
	}

	.title {
		padding-left: 5%;
	}

	img.face,img.TAB {
		width: 40% !important;
	}

	#custom {
	width: 50% !important;
	padding-bottom: 6%;
	}

	.name {
		display: none;
	}



}

















