html {
	overflow: scroll;
	font-family: sans-serif;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  	width: 100%;
	height: 100%;
	overflow: scroll;
	font-family: Arial;
}

body {
	width: 100%;
	height: 100%;	
	margin: 0;
	overflow: scroll;
}

ul {
	font-weight: 300;
	position: relative;
	list-style: none;
	padding-left: 0;
	font-size: 13;
	width: 100%;
	left: 0;
	-webkit-transition: left .5s ease-in-out;
  	-moz-transition: left .5s ease-in-out;
  	-o-transition: left .5s ease-in-out;
  	transition: left .5s ease-in-out;

}

li {
	background-color: transparent;
	position: relative;
	border-bottom: 1px solid black;
	padding-bottom: 5%;
	padding-top: 1%;
	padding-left: 2%;
	height: 8%;
	-webkit-transition: background-color .20s ease-in-out;
  	-moz-transition: background-color .20s ease-in-out;
  	-o-transition: background-color .20s ease-in-out;
  	transition: background-color .20s ease-in-out;
  	-webkit-transition: height .2s ease-in-out;
  	-moz-transition: height .2s ease-in-out;
  	-o-transition: height .2s ease-in-out;
  	transition: height .2s ease-in-out;
  	overflow: hidden;
  	z-index: 999;
}



li:hover {
	cursor: pointer;
	background-color: black;
	color: white;

}

.height {
	height: 80%;
	-webkit-transition: height .3s ease-in-out;
  	-moz-transition: height .3s ease-in-out;
  	-o-transition: height .3s ease-in-out;
  	transition: height .3s ease-in-out;
}

.big {
	position: absolute;
	width: 200%;
	left: 50%;
	transform:translate(-50%,-50%);
  	-webkit-transform:translate(-50%,-50%);
}

.year {
	position: absolute;
	left: 94%;

}

.projectzone {
	position: absolute;
	top: 60px;
	left: 45%;
	width: 95%;
	height: auto;
	overflow: scroll;
}

img {
	width: 50%;
	height: auto;
	display: block;
	padding-bottom: 4%;
}

img.TAB {
	width: 25% !important;
	padding-bottom: 4%;
}

img.face {
	width: 25%;
}

img.table,img.displayobjects,img.heater,img.t21i,img.chair,img.TAB,img.connection,img.fan {
	cursor: e-resize;
}

#custom {
	width: 60%;
}

.info {
	font-size: 13;
	font-weight: 100;
	position: absolute;
	width: 25%;
	left: 8%;
	top: 45px;
	text-align: left;
	padding-bottom: 6%;
}

.chair {
	width: 50%;
}

.face {
	width: 50%;
	height: auto;
}

.left {
	left: 7%;
	-webkit-transition: left .5s ease-in-out;
  	-moz-transition: left .5s ease-in-out;
  	-o-transition: left .5s ease-in-out;
  	transition: left .5s ease-in-out;

}

.right {
	left: 0%;
	-webkit-transition: left .5s ease-in-out;
  	-moz-transition: left .5s ease-in-out;
  	-o-transition: left .5s ease-in-out;
  	transition: left .5s ease-in-out;

}

.expand,.close {
	color: #0078ff;
	font-weight: 100;
	font-size: 40;
	position: fixed;
	margin: 0;
	top: 0;
	left: -100px;
	display: inline;
	cursor: pointer;
	-webkit-transition: left .5s ease-in-out;
  	-moz-transition: left .5s ease-in-out;
  	-o-transition: left .5s ease-in-out;
  	transition: left .5s ease-in-out;
}

.expand:hover,.close:hover {
	border-bottom: 1px solid black;
}



a:visited,a:active {
	color: blue;
}

@media screen and (max-width: 736px) and (orientation: portrait){

	.projectzone {
		top: 45px;
		position: relative;
		left: 53%;
		transform:translate(-50%,0%);
  		-webkit-transform:translate(-50%,0%);
	}

	li:hover {
		background-color: white;
		color: black;
	}

	img {
		width: 90%;
		padding-bottom: 10%;
	}

	.info {
		position: relative;
		display: block;
		float: bottom;
		width: 90%;
		padding-bottom: 20%;
		left: 50%;
		transform:translate(-50%,0%);
  		-webkit-transform:translate(-50%,0%);
	}

	.year {
		left: 90%;
	}

	#custom,.chair {
		width: 80%;
	}

	li {
		padding-top: 3%;
	}




}

















