html {
	overflow: scroll;
	font-family: sans-serif;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  	width: 100%;
	height: 100%;
	overflow: scroll;
	font-family: Arial;
	background-color: white;
}

::-webkit-scrollbar { 
    display: none; 
}

body {
	width: 100%;
	height: 100%;	
	margin: 0;
	overflow: scroll;
}

.name {
	top: 0;
	margin: 0;
	font-size: 12;
	position: absolute;
	background-color: transparent;
	color: black;
	width: 50%;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 6%;
	z-index: 99;

}

ul {
	top: 10%;
	font-weight: 300;
	position: relative;
	list-style: none;
	padding-left: 0;
	font-size: 12;
	width: 100%;
	left: 0;
	-webkit-transition: left .5s ease-in-out;
  	-moz-transition: left .5s ease-in-out;
  	-o-transition: left .5s ease-in-out;
  	transition: left .5s ease-in-out;

}

li {
	
	margin-left: 2%;
	margin-right: 2%;
	background-color: white;
	color: black;
	position: relative;
	padding-bottom: 1%;
	padding-top: 2%;
	padding-left: 4%;
	height: 2%;
	-webkit-transition: background-color .1s ease-in-out;
  	-moz-transition: background-color .1s ease-in-out;
  	-o-transition: background-color .1s ease-in-out;
  	transition: background-color .1s ease-in-out;
  	-webkit-transition: height .35s ease-in-out;
  	-moz-transition: height .35s ease-in-out;
  	-o-transition: height .35s ease-in-out;
  	transition: height .35s ease-in-out;
  	overflow: hidden;
  	z-index: 999;
}



li:hover {
	cursor: pointer;
	background-color: white;
	color: black;
	border-bottom: 1px solid black;
}

.height {
	height: 80%;
	-webkit-transition: height .35s ease-in-out;
  	-moz-transition: height .35s ease-in-out;
  	-o-transition: height .35s ease-in-out;
  	transition: height .35s ease-in-out;
}

.year {
	font-size: 12;
	position: absolute;
	text-align: right !important;
	left: 65%;

}

.projectzone {
	position: absolute;
	top: 60px;
	left: 4%;
	width: 95%;
	height: auto;
	overflow: scroll;
}

img {
	width: 58%;
	height: auto;
	display: block;
	padding-bottom: 10%;
}

img.table:hover,img.displayobjects:hover,img.heater:hover,img.t21i:hover,img.chair:hover,img.connection:hover,img.fan:hover {
	border-top: 1px solid black;
}

img.TAB {
	width: 25% !important;
	padding-bottom: 10%;
}

#custom {
	width: 23% !important;
	padding-bottom: 10%;
}

img.face {
	width: 25%;
}

img.table,img.displayobjects,img.heater,img.t21i,img.chair,img.TAB,img.connection,img.fan {
	cursor: e-resize;
}

.info {
	font-size: 16;
	font-weight: 100;
	position: absolute;
	width: 25%;
	left: 65%;
	top: 45px;
	text-align: left;
	padding-bottom: 10%;
}

.chair {
	width: 50%;
}

.face {
	width: 50%;
	height: auto;
}

.left {
	left: 7%;
	-webkit-transition: left .5s ease-in-out;
  	-moz-transition: left .5s ease-in-out;
  	-o-transition: left .5s ease-in-out;
  	transition: left .5s ease-in-out;

}

.right {
	left: 0%;
	-webkit-transition: left .5s ease-in-out;
  	-moz-transition: left .5s ease-in-out;
  	-o-transition: left .5s ease-in-out;
  	transition: left .5s ease-in-out;

}

.expand,.close {
	color: black;
	font-weight: 100;
	font-size: 40;
	position: fixed;
	margin: 0;
	top: 20%;
	left: -100px;
	display: inline;
	cursor: pointer;
	-webkit-transition: left .5s ease-in-out;
  	-moz-transition: left .5s ease-in-out;
  	-o-transition: left .5s ease-in-out;
  	transition: left .5s ease-in-out;
}

.expand:hover {
	border-bottom: 1px solid #0078ff;
	-webkit-transition-property: border-bottom; /* Safari */
    -webkit-transition-duration: .3s; /* Safari */
    -webkit-transition-delay: .05s; /* Safari */
    transition-property: border-bottom;
    transition-duration: .3s;
    transition-delay: .05s;
}

.close:hover {
	color: #0078ff;
	-webkit-transition: color .3s ease-in-out;
  	-moz-transition: color .3s ease-in-out;
  	-o-transition: color .3s ease-in-out;
  	transition: color .3s ease-in-out;
}

.mail {
	color: black;
	font-weight: 100;
	font-size: 18;
	position: fixed;
	margin: 0;
	top: 25%;
	left: -100px;
	display: inline;
	cursor: pointer;
	-webkit-transition: left .5s ease-in-out;
  	-moz-transition: left .5s ease-in-out;
  	-o-transition: left .5s ease-in-out;
  	transition: left .5s ease-in-out;

}

a:visited,a:active {
	color: #0078ff;
}

.me {
	color: #0078ff;
}

/* mobile */

@media screen and (max-width: 1024px) and (orientation: portrait){

	html {
		background-color: #fbfbfb;
	}

	ul {
		border-color: white;
		position: absolute;
		font-size: 14;
		left: 50%;
		transform:translate(-50%,0%);
  		-webkit-transform:translate(-50%,0%);

	}

	li {
		background-color: white;
		color: black;
		margin-bottom: 5%;
	}

	li:hover {
		background-color: white;
		color: black;
	}

	img {
		width: 90%;
		padding-bottom: 10%;
	}

	.projectzone {
		top: 45px;
		position: relative;
		left: 53%;
		transform:translate(-50%,0%);
  		-webkit-transform:translate(-50%,0%);
	}

	.info {
		position: relative;
		display: block;
		float: bottom;
		width: 88%;
		padding-bottom: 20%;
		left: 50%;
		font-size: 14;
		transform:translate(-50%,0%);
  		-webkit-transform:translate(-50%,0%);
	}

	.year {
		left: 84%;
	}

	#custom,.chair {
		width: 80%;
	}

	li {
		padding-top: 6%;
	}

	.title {
		padding-left: 5%;
	}

	img.face,img.TAB {
		width: 40% !important;
	}

	#custom {
	width: 50% !important;
	padding-bottom: 6%;
	}

	.name {
		display: none;
	}



}

















