::-webkit-scrollbar {
    display: none;
}

::-moz-scrollbar {
    display: none;
}

::-scrollbar {
    display: none;
}



html {
	margin: 0;
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background-color: #eff2f7;
	overflow: hidden;
}

.table {
	position: absolute;
	background-color: #914f11;
	height: 50vh;
	width: 60vw;
	top: 25vh;
	left: 20vw;
}


.rPerson,.bPerson,.tPerson,.lPerson {
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: red;
	
}

.rPerson {
	right: -100px;
}

.lPerson {
	left: -100px;
}

.tPerson {
	top: -100px;
}

.bPerson {
	bottom: -100px;
}
